<div class="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Navigasyon</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="page-blog-posts.html" style="text-decoration: none;">Blog</a></li>
                    <li><a href="page-portfolio-3-columns-2.html"style="text-decoration: none;" >Portfolio</a></li>
                    <li><a href="page-products-3-columns.html"style="text-decoration: none;">eShop</a></li>
                    <li><a href="page-services-3-columns.html"style="text-decoration: none;">Services</a></li>
                    <li><a href="page-pricing.html"style="text-decoration: none;">Pricing</a></li>
                    <li><a href="page-faq.html"style="text-decoration: none;">FAQ</a></li>
                </ul>
            </div>
            
            <div class="col-footer col-md-4 col-xs-6">
                <h3>İletişim</h3>
                <p class="contact-us-details">
                    <b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
                    <b>Phone:</b> +44 123 654321<br/>
                    <b>Fax:</b> +44 123 654321<br/>
                    <b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
                </p>
            </div>
            <div class="col-footer col-md-2 col-xs-6">
                <h3>Sosyal Medya</h3>
                <ul class="footer-stay-connected no-list-style">
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="googleplus"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div><h6 style="margin-left: 30%;">&copy; 2021 Kadir Araç Kiralama. Tüm hakları saklıdır.</h6></div>
            </div>
        </div>
    </div>
</div>