<div class="container">
    <app-navi></app-navi>
    <div class="row">
        <div class="col-md-9">
            <app-car></app-car>
        </div>
        <br>
        <div class="col-md-3">
            <app-user></app-user>
        </div>
        <br>
        <div class="col-md-3">
            <app-rental></app-rental>
        </div>
        <br>
        <div class="col-md-3">
            <app-brand></app-brand>
        </div>
        <br>
        <div class="col-md-3">
            <app-color></app-color>
        </div>
            <router-outlet></router-outlet>
    </div>
</div>