<div class="constant">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Araç ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="carName">Araç adı</label>
                        <div class="form-group">
                            <input type="text" id="carName" formControlName="carName" class="form-control"
                                placeholder="Araç adı">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="colorName">Renk</label>
                        <select formControlName="colorName" class="form-select" aria-label="Default select example"
                            id="colorName">
                            <option [ngValue]="color.colorId" *ngFor="let color of colors" value="1">
                                {{ color.colorName }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="brandName">Marka</label>
                        <select formControlName="brandName" class="form-select" aria-label="Default select example"
                            id="brandName">
                            <option [ngValue]="brand.brandId" *ngFor="let brand of brands" value="1">
                                {{ brand.brandName }}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="modelYear">Model tarihi</label>
                        <div class="form-group">
                            <input type="date" id="modelYear" formControlName="modelYear" class="form-control"
                                placeholder="Model yılı">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dailyPrice">Fiyatı</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                placeholder="Fiyat">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control"
                                placeholder="Açıklamna">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="findeksNote">Açıklama</label>
                        <div class="form-group">
                            <input type="number" id="findeksNote" formControlName="findeksNote" class="form-control"
                                placeholder="Findeks notu">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>

</div>